# Drafts
Examples

# Python
/.DS_Store
.DS_Store
DS_Store
__pycache__

# Data
assets/datasets_flat/*
!assets/datasets_flat/expected_structure.md

assets/datasets_structured_label/*
!assets/datasets_structured_label/expected_structure.md

assets/datasets_structured_layer/*
!assets/datasets_structured_layer/expected_structure.md

# morphoclass
morphoclass

# output
output/*